<PAGE>
	<VAR match="VAR_TITLE" replace="Configuration recipe"/>
	<VAR match="VAR_ORIGIN" replace="" />
	<VAR match="VAR_CVSID" replace=""/>
	<INCLUDE file="inc/header.tmpl" />

	<VAR match="VAR_SEL_DOCUMENTATION" replace="selected" />
	<VAR match="VAR_SEL_RECIPES" replace="selected" />
	<PARSE file="menu1.xml" />
	<PARSE file="menu2-documentation.xml" /> 
	
	<INCLUDE file="inc/content.tmpl" />


